<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Travel app
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1> <strong>Hi Mike <br/>
  Where do you want to go?</strong> </h1>

    <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-input></ion-input>
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col>
                <h3><strong>Daily Scenery</strong></h3>
            </ion-col>
            <ion-col>
                <ion-text color="primary"><small>Updated</small></ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="light">More</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <img width=1200 height=600 src="https://images.pexels.com/photos/745236/pexels-photo-745236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <ion-grid>
            <ion-row>
                <ion-col size=8>
                    <ion-text color="medium">2021.03.10</ion-text> <br/> Santa Barbara, EUA
                </ion-col>

                <ion-col>
                    <ion-avatar><img src="https://randomuser.me/api/portraits/women/33.jpg" alt=""></ion-avatar>
                </ion-col>
                <ion-col>
                    <ion-avatar><img src="https://randomuser.me/api/portraits/women/94.jpg" alt=""></ion-avatar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-grid>
        <ion-row>
            <ion-col>
                <h3><strong>City</strong></h3>
            </ion-col>
            <ion-col>
                <ion-badge color="primary">Hot</ion-badge>
            </ion-col>
            <ion-col>
                <ion-text color="light">More</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="city-card">
                    <img src="https://images.pexels.com/photos/6397912/pexels-photo-6397912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <h3>Turquia</h3>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="city-card">
                    <img src="https://images.pexels.com/photos/3772442/pexels-photo-3772442.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <h3>Itália</h3>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="city-card">
                    <img src="https://images.pexels.com/photos/547494/pexels-photo-547494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <h3>Alemanha</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>