<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <ion-title>
            <center> Meu App Funciona</center>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
    <h1>Titulo principal</h1>

    <ion-text color="medium"> Texto Apagadinho</ion-text>
    <br/>
    <ion-badge color="primary">Thiago Alvarenga de souza </ion-badge>

    <ion-avatar>
        <img src="https://images.pexels.com/photos/72479/pexels-photo-72479.jpeg?cs=srgb&dl=pexels-ian-porce-72479.jpg&fm=jpg">
    </ion-avatar>
    <h5>Contato</h5>
    <ion-grid>
        <ion-row>
            <ion-icon name="logo-whatsapp"></ion-icon>

            <ion-icon name="logo-facebook"></ion-icon>

        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Thiago Alvarenga</ion-card-subtitle>

            <ion-card-title>Estudante</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            In the beginning the Universe was created. This has made a lot of people very angry and been widely regarded as a bad move.
            <br/>
            <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-card-content>

        <ion-input placeholder="Enter Input"></ion-input>
        <ion-item>
            <ion-label position="floating">Pesquisar</ion-label>
            <ion-input></ion-input>
            <ion-icon name="search-outline" slot="end"></ion-icon>

        </ion-item>

    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                Coluna 1
            </ion-col>
            <ion-col>
                Coluna 2
            </ion-col>
            <ion-col size="6">
                Coluna maior
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Coluna 2.1
            </ion-col>
            <ion-col>
                Coluna 2.2
            </ion-col>
            <ion-col size="6">
                Coluna 2.maior
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>